.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/launch.json
PracticeRound2020/PracticeRound2020/PracticeRound2020/.vscode/launch.json
PracticeRound2020/PracticeRound2020/PracticeRound2020/.vscode/tasks.json
